@model FortuneTellerMVC.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Your Fortune Revealed</h2>

<div>
    
    <hr />

    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

    <p> You will retire at the age of @ViewBag.Retirement with $@ViewBag.Money in the bank. 
        Your main mode of transportation will be a @ViewBag.Transport and you will 
        have a vacation home in @ViewBag.VacationHome.</p>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
